
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Operation</label>
        <div class="controls">
            <input type="text"
                   cam-variable-name="op"
                   cam-variable-type="String"
                   required
                   class="form-control"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">X</label>
        <div class="controls">
            <input type="text"
                   cam-variable-name="x"
                   cam-variable-type="Double"
                   required
                   class="form-control"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Y</label>
        <div class="controls">
            <input type="text"
                   cam-variable-name="y"
                   cam-variable-type="Double"
                   required
                   class="form-control"/>
        </div>
    </div>

    <script cam-script type="text/form-script">
  // custom JavaScript goes here

    </script>
</form>
