<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>

<f:view>
    <p>3 + 6</p>
    <p>
        <h:outputText value="#{simpleCalc.add(3,6)}"/>
    </p>
</f:view>

</body>
</html>
